<!doctype html>
<html lang="en">
<head>
  <%- include('header'); %>
    <title>Document</title>
</head>
<body>
<ul>
    <% all.forEach((ellement) => { %>
        <li><%= ellement.title %></li>
    <% }) %>
</ul>
</body>
</html>